<PageTitle>Configure</PageTitle>
<h1>Configure</h1>

<EditForm EditContext="EditContext" OnValidSubmit="@Save">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="BuoySensorEcbAddress" class="form-label">Buoy Sensor ECB Address</label>
                <InputText class="form-control" @bind-Value="EditModel.BuoySensorEcbAddress" placeholder="127.0.0.255" />
                <div class="form-text">
                    The IP Address of the ECB. <code>Example: 127.0.0.255</code>
                </div>
            </div>
            <div class="mb-3">
                <label for="BuoySensorEcbPort" class="form-label">Buoy Sensor ECB Port</label>
                <InputNumber class="form-control" @bind-Value="EditModel.BuoySensorEcbPort" placeholder="9000" />
                <div id="inputHelp" class="form-text">
                    The Port Number of the ECB. <code>Example: 9000</code>
                </div>
            </div>
            <div class="mb-3">
                <label for="BuoySensorEcbPort" class="form-label">Buoy Sensor ECB Port Count</label>
                <InputNumber class="form-control" @bind-Value="EditModel.BuoySensorEcbPortCount" placeholder="4" />
                <div id="inputHelp" class="form-text">
                    The Number of Fiber Ports on the ECB. <code>Example: 4, 8, 16</code>
                </div>
            </div>
            <div class="mb-3">
                <label for="BuoyPacketPurgeInterval" class="form-label">Buoy Reading Purge Interval</label>
                <InputNumber class="form-control" @bind-Value="EditModel.BuoyPacketPurgeInterval" placeholder="5" />
                <div class="form-text">
                    The frequency of time in minutes that buoy readings are purged from the device. <code>Example: 5</code>
                </div>
            </div>
            <div class="mb-3">
                <label for="BuoyPacketRetryInterval" class="form-label">Buoy Reading Retry Interval</label>
                <InputNumber class="form-control" @bind-Value="EditModel.BuoyPacketRetryInterval" placeholder="5" />
                <div class="form-text">
                    The frequency of time in minutes that buoy readings are resent to the server. <code>Example: 5</code>
                </div>
            </div>
        </div>
        <div class="col-6">
            @foreach (int port in EditModel.BuoyNames.Keys.ToList())
            {
                @if (EditModel.BuoyNames.ContainsKey(port))
                {
                    <div class="mb-3">
                        <label class="form-label">@($"Buoy {port} Name")</label>
                        <InputText class="form-control" @bind-Value="EditModel.BuoyNames[port]" placeholder="BUOY-XXXX" />
                        <div class="form-text">
                            @($"The name of the buoy connected to port {port}.") <code>Example: BUOY-XXXX</code>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="row">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</EditForm>