<PageTitle>Configure</PageTitle>
<h1>Configure</h1>

<EditForm EditContext="EditContext">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-6">
            <div class="mb-3">
                <label for="BuoySensorEcbAddress" class="form-label">Buoy Sensor ECB Address</label>
                <InputText class="form-control" @bind-Value="EditModel.BuoySensorEcbAddress" placeholder="127.0.0.1" />
                <div class="form-text">
                    The IP Address of the ECB. <code>Example: 127.0.0.1</code>
                </div>
            </div>
            <div class="mb-3">
                <label for="BuoySensorEcbPort" class="form-label">Buoy Sensor ECB Port</label>
                <InputNumber class="form-control" @bind-Value="EditModel.BuoySensorEcbPort" placeholder="9000" />
                <div id="inputHelp" class="form-text">
                    The Port Number of the ECB. <code>Example: 9000</code>
                </div>
            </div>
            <div class="mb-3">
                <label for="BuoySensorEcbPort" class="form-label">Buoy Sensor ECB Port Count</label>
                <InputNumber class="form-control" @bind-Value="EditModel.BuoySensorEcbPortCount" placeholder="4" />
                <div id="inputHelp" class="form-text">
                    The Number of Fiber Ports on the ECB. <code>Example: 4, 8, 16</code>
                </div>
            </div>
            <div class="mb-3">
                <label for="BuoyPacketPersistDuration" class="form-label">Buoy Reading Persist Duration</label>
                <InputNumber class="form-control" @bind-Value="EditModel.BuoyPacketPersistDuration" placeholder="60" />
                <div class="form-text">
                    The lenght of time in minutes that buoy readings are persisted on the device. <code>Example: 60</code>
                </div>
            </div>
            <div class="mb-3">
                <label for="BuoyPacketEjectionInterval" class="form-label">Buoy Reading Ejection Interval</label>
                <InputNumber class="form-control" @bind-Value="EditModel.BuoyPacketEjectionInterval" placeholder="5" />
                <div class="form-text">
                    The frequency of time in minutes that buoy readings are ejected from the device. <code>Example: 5</code>
                </div>
            </div>
        </div>
        <div class="col-6">
            @for (int port = 0; port < EditModel.BuoySensorEcbPortCount; port++)
            {
                @if (EditModel.BuoyNames.ContainsKey(port))
                {
                    <div class="mb-3">
                        <label for="BuoyPacketEjectionInterval" class="form-label">@($"Buoy {port} Name")</label>
                        <InputText class="form-control" @bind-Value="EditModel.BuoyNames[port]" placeholder="BUOY-XXXX" />
                        <div class="form-text">
                            @($"The name of the buoy connected to port {port}.") <code>Example: BUOY-XXXX</code>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary" @onclick="Save">Save</button>
    </div>
</EditForm>